@model IEnumerable<API_ClientS.Models.Videos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVideo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVideo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVideo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
